#Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.15.0'

#Data Preprocessing

In [3]:
#importing the dataset

data = pd.read_csv('Churn_Modelling.csv')
X = data.drop(columns = ['RowNumber', 'CustomerId', 'Surname', 'Exited'])
y = data['Exited']

In [4]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

###Encoding the categorical data

In [6]:
#Lable Encoding the 'Gender' column
from sklearn.preprocessing import LabelEncoder
labels = LabelEncoder()
X['Gender'] = labels.fit_transform(X['Gender'])

In [7]:
X.sample(n=10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
8302,850,France,0,39,2,0.00,2,1,0,179451.42
5580,616,Spain,1,30,2,0.00,2,1,0,199099.51
7936,468,France,1,22,2,0.00,2,1,0,28123.99
4874,703,France,1,43,8,0.00,2,1,0,9704.66
7450,712,Spain,0,39,5,163097.55,2,1,1,23702.42
9304,616,France,1,40,9,0.00,2,0,0,93717.55
8344,520,Germany,1,43,3,150805.17,3,0,1,25333.03
4563,705,Germany,0,64,3,153469.26,3,0,0,146573.66
7624,728,France,0,69,1,0.00,2,1,1,131804.86
8701,673,France,1,37,2,0.00,1,1,1,13624.02

In [8]:
#One hot Encoding the 'Geography' column

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

###Train-Test-Split into Training and Testing set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

###Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler
scl = StandardScaler()
X_train = scl.fit_transform(X_train)
X_test = scl.transform(X_test)

#Building the ANN

###Initializing the ANN

In [11]:
ann = tf.keras.models.Sequential()

###Adding the layers

In [12]:
ann.add(tf.keras.layers.Dense(units = 5 , activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 5 , activation = 'relu'))
ann.add(tf.keras.layers.Dense(units = 1 , activation = 'sigmoid'))

#Training the ANN

###Compiling the ANN

In [13]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics =['accuracy'])

###Training the ANN with the training data

In [14]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
219/219 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7939
Epoch 2/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4865 - accuracy: 0.7977
Epoch 3/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4639 - accuracy: 0.7977
Epoch 4/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4508 - accuracy: 0.7977
Epoch 5/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4419 - accuracy: 0.7977
Epoch 6/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4362 - accuracy: 0.7980
Epoch 7/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4319 - accuracy: 0.7987
Epoch 8/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4286 - accuracy: 0.8000
Epoch 9/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4252 - accuracy: 0.8007
Epoch 10/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4219 - accuracy: 0.8107
Epoch 11/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4180 - accuracy: 0.8194
Epoch 12/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4132 - accuracy: 0.8221
Epoch 13/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8271
Epoch 14/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8283
Epoch 15/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8313
Epoch 16/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8317
Epoch 17/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3852 - accuracy: 0.8337
Epoch 18/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3814 - accuracy: 0.8346
Epoch 19/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3782 - accuracy: 0.8346
Epoch 20/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3754 - accuracy: 0.8347
Epoch 21/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3732 - accuracy: 0.8366
Epoch 22/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8396
Epoch 23/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3695 - accuracy: 0.8437
Epoch 24/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8470
Epoch 25/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3669 - accuracy: 0.8489
Epoch 26/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3663 - accuracy: 0.8479
Epoch 27/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8499
Epoch 28/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3644 - accuracy: 0.8506
Epoch 29/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8504
Epoch 30/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3632 - accuracy: 0.8481
Epoch 31/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8513
Epoch 32/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3617 - accuracy: 0.8500
Epoch 33/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8511
Epoch 34/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3600 - accuracy: 0.8531
Epoch 35/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8513
Epoch 36/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.8524
Epoch 37/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3582 - accuracy: 0.8543
Epoch 38/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8523
Epoch 39/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8534
Epoch 40/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8534
Epoch 41/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3552 - accuracy: 0.8546
Epoch 42/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8546
Epoch 43/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8547
Epoch 44/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8546
Epoch 45/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8549
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8567
Epoch 47/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8557
Epoch 48/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8569
Epoch 49/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8577
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8581
Epoch 51/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8553
Epoch 52/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8570
Epoch 53/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8551
Epoch 54/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8586
Epoch 55/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8573
Epoch 56/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8587
Epoch 57/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8590
Epoch 58/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3465 - accuracy: 0.8576
Epoch 59/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8596
Epoch 60/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8593
Epoch 61/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8591
Epoch 62/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8589
Epoch 63/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8587
Epoch 64/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8610
Epoch 65/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8613
Epoch 66/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8601
Epoch 67/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8594
Epoch 68/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8601
Epoch 69/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8617
Epoch 70/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8609
Epoch 71/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8591
Epoch 72/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8607
Epoch 73/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8609
Epoch 74/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8621
Epoch 75/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8626
Epoch 76/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8614
Epoch 77/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8623
Epoch 78/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8617
Epoch 79/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8631
Epoch 80/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8627
Epoch 81/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8620
Epoch 82/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8637
Epoch 83/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8637
Epoch 84/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8619
Epoch 85/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8619
Epoch 86/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8617
Epoch 87/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8614
Epoch 88/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8621
Epoch 89/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8607
Epoch 90/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8627
Epoch 91/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8617
Epoch 92/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8623
Epoch 93/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8630
Epoch 94/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8626
Epoch 95/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8630
Epoch 96/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8624
Epoch 97/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8621
Epoch 98/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8604
Epoch 99/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8631
Epoch 100/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8627

#Predicting the result

In [22]:
print(ann.predict(scl.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]])) > 0.6)

1/1 [==============================] - 0s 24ms/step
[[False]]

###Predicting the test set result

In [25]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.6)

print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.values.reshape(len(y_test),1)),1))

94/94 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [1 1]]

###Confusion matrix

In [26]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2329   50]
 [ 354  267]]

0.8653333333333333